body {
    /*  background:url('https://bl3302files.storage.live.com/y4pH6WdZgD-nF4V-1ql5j6bMDpQeUd7Z7tBKWKqVH97-SNQntsTA66sYuBdPZy7fkdg5rYoPbhqAeUV_B34QfIFO7fWPpCwZOcECB_syx0HiRCpA-JHnHdZ28gR9yLS7wqabMXdiky-1gPauAvPsRIKn9ajLpQ0OWrz-X7a70sv1nGYvhPsXY-nIMxv8jut33A54-2PU-Dxd3IcDT2v8QXq98_IHZPldT5hEMkItnzUKM4/IMG0049A.jpg?psid=1&width=640&height=480');  
  margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
