body {
   /*  background:url('http://3.bp.blogspot.com/-nPVE9Y8Dlc0/UyMnAgfbAKI/AAAAAAAACho/QEwBgT0knGQ/s1600/b_1313074486443.jpg');  */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
