.card-container {
    display: -ms-flex;
       /*  display: -webkit-flex; */
        display: flex;
        border-color: teal;
        grid-template-rows: repeat(4, 200px);
        grid-auto-flow: column; 
        grid-row: span 4;
        
   
    
}

.titulo{
    font: bold 60px Verdana, Arial, Helvetica;
    height: 20%;
    width: 100%;
    color:rgb(7, 71, 5);
    text-transform: uppercase;
    
    
    margin: 0 auto;
    text-align: center;
    line-height: 80px;

    
    text-align: center;
   
    letter-spacing: 1px;
    word-spacing: 3px;
   
  }