

.card-containers {
  margin-left: 2px; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: 2px; 
  display:flex;
  text-align: center;
  justify-content:center;
  display:flex;
  order:1;
  width: 200px;
  height: auto;
  border-radius:8px;
  border: 0.5px solid gray;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  overflow: hidden;
 
  text-align: center;
  transition: all 0.25s;
  transform: translateY(-1px);
  box-shadow: 5px 1px 5px rgba(0,0,0,0.2);
  display: flex;
  opacity: 1;
  transform: translate(0);
  padding: 10px;
  border-color: teal;
  float:right;
  flex-direction:column;
  justify-content: center;
  text-decoration:none;
   font-size: 16px;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  transition: all 250ms ease;
  flex-direction:column;
  backdrop-filter:blur(7.5px);
  
 
  
}


.card-containers:hover{
  box-shadow: 10px 1px 20px rgba(0,0,0,0.8);  
  transform: translateY(-50%);
  -webkit-box-shadow: 16px 27px 38px -3px rgba(13,1,1,1);
  -moz-box-shadow: 16px 27px 38px -3px rgba(13,1,1,1);
  box-shadow: 16px 27px 38px -3px rgba(13,1,1,1);
    
  
}
img{
border-radius: 10px;
padding: 10px 10px 10px 5px;
display: block; margin: auto; 
justify-content:center;
}
.espacio{
margin-top: 10px;
margin-left: 20px;
display:inline-block;

}
.temperamento-card {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  color: rgb(92, 92, 92);
  
   display:inline-block; 
  text-align:center;
}

.titulo-temperamentos {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10px;
  margin: 0;
  padding-top: 10px;
  color: black
}

.weight {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 8px;
  color: rgb(63, 62, 62);
  padding-bottom: auto; 
   display:inline-block; 
  text-align:center;
      
}
.name{
  text-align: center;
  font-size :12px;
 /*  margin-bottom: 50px; */
}
.columnas{

  /* margin-left: 8px;  */

/* margin-right: 8px; */
  /* border-radius: 100px; */
  display:flex;
  text-align: center;
  justify-content:center;
 /*  padding-bottom: auto;
  display:inline-block;  */
    
}



