
.form{
    padding: 10px;
     top: 120px;
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #202022, 0 0 5px #272626,
    0 0 5px #2f0cf3, 0 0 5px #97878f, 0 0 5px #0400e6;
    border-radius: 4px;
  }

  .form:hover{
    color: teal;
  }

  
  .contenedores{
    margin: 10px;
  }

  .label{
    border-radius:4px;
    text-decoration:none;
    color:black;
    font-family:'century Gothic', sans-serif;
    font-weight:bold;
    border:1px solid;
    padding: 2px 15px;
  
   
  }
  .label:hover{
    color: teal;
  }

  .itemsp{
    width: 80px;
    height: auto;
    background: none;
    color: teal;
    font-size: 9px;
    border-radius: 4px;
    border-color: teal; 
    outline: 0px;
    margin-right: 35px;
    text-align: center;
    margin-left: 14px;
    padding: 10px;
  }
  
.itemsp:focus{
    border: 3px solid teal;
    /* transform: translateY(-4%); */
    transition: all 0.3s ease;
    }

    .itemsp1{
        width: 120px;
        height: 35px;
        background: none;
        color: rgb(14, 32, 32);
        font-size: 9px;
        border-radius: 4px;
        border-color: teal; 
        outline: 0px;
        margin-right: 35px;
        text-align: center;
        margin-left: 14px;
        
      
      }

      .itemsp1:focus{
        border: 3px solid teal;
        /* transform: translateY(-4%); */
        transition: all 0.3s ease;
        }

    .styleM{
       
        width: 250px;
        height: 30px;
        font-size: 13px;
        border: thin solid rgb(231, 17, 17);
        outline: 0px;
        border-radius: 6px;
        color: #fff;
        background: none;
      }
    
    .styleM:focus{
        top:70px;
        border: 3px solid teal;
        /* transform: translateY(-4%); */
        transition: all 0.3s ease;
    }

.error{
     font-style:arial rgb(231, 17, 17);
     font-size:8px;
}
    
    .titulos2{
        border-radius:4px;
         text-decoration:none;
        color:black;
        font-family:'century Gothic', sans-serif;
        font-weight:bold;
        border:2px solid;
        padding: 7 16px;
        
       
      }
      .titulos2:hover{
        color: teal;
      }
      

      .titulos{
        border-radius:4px;
        text-decoration:none;
        color:black;
        font-family:'century Gothic', sans-serif;
        font-weight:bold;
        border:1px solid;
        padding: 2px 8px;
       
      }
      .titulos:hover{
        color: teal;
      }
      
      .title-cardCreate{
        padding: 10px;
        font-size: 12px;
          font: bold 40px Verdana, Arial, Helvetica;
          height: 20%;
          width: 100%;
          color:rgb(7, 71, 5);
          text-transform: uppercase;
          }
      

          .title-cardCreate:hover{
            color: #582417;
          }


.btn5{
    
    background-color: rgb(2, 36, 36);
    color: #fff;
   
    
  }

  .selecStyle{
    background: none;
    width: 200px;
    height: 25px;
    outline: 0px;
    background-color: black;
    color: #fff;
    border: thin solid rgb(252, 248, 248);
    border-radius: 6px;
  }
  
  .selecStyle:focus{
    border: 3px solid teal;
    /* transform: translateY(-4%); */
    transition: all 0.3s ease;
  }

  
.butt{
    height: 40px;
    font-family:'century Gothic', sans-serif;
    margin-top: 5px;
    border-radius: 10px;
    border-color: teal;
    color: #070606;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    font-size: 1rem;
    transition: box-shadow 0.2s ease-in-out;
}

.butt:hover{
    /* color: #1883ba;
    background-color: #fff;
    border: 16px #1883ba; */
    box-shadow: 0 0 40px rgb(106, 134, 134) inset;
}


input:invalid,
textarea:invalid {
    color: red;
    /* background: rgb(214, 114, 114); */
}

.error{
    
  font: bold 15px Arial, Helvetica;
  color:red;
  
  position: relative;
}

.submit:valid, textarea:valid {
  color: white;
}